.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.mywork-title{
    position: relative
    ;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 0;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}

.mywork-item{
    box-sizing: border-box;
    width: 419px;
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 25px;

}
/* .mywork-item p{
    margin-bottom: 10px;

} */

.show-project{
    margin-top: 10px;
}
.title-wala-edit{
    font-size: 38px;
    background: linear-gradient(270deg , #361C6A 10% , #844EF3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mywork-item:hover{
    transform: scale(1.10);
    border: 4px solid white;
    border-radius: 10px;
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);



}




.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;

}

.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;

}

/*adfsdf*/

.mywork-showmore-mini{
    display: flex;
    gap: 15px;
    border-radius: 25px;
    border: 2px solid white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    width: 180px;
    margin-top: 20px;

}

.mywork-showmore-mini:hover{
    gap: 30px;
    transition: 0.6s;

}

@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px ;
        align-items: start;

    }

    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;

    }

    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }

    .mywork-container{
      grid-template-columns: 1fr 1fr;
      gap: 30px;

    }

    .mywork-container img{
        width: 100%;
        height: 100%;
    }

    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}
